<!DOCTYPE html>
<html ng-app>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js" type="text/javascript"></script>
    <base href="https://raw.github.com/shazow/splitcost/master">

    <meta charset="utf-8" />
    <title>SplitCost</title>
    <link href="static/css/screen.css" rel="stylesheet" />
</head>

<body>


<div class="container" ng-controller="CostCtrl">

<h1>
    SplitCost
    <small>Need a better name</small>
</h1>

<p>And a description.</p>

<form ng-submit="addMember()">
    <h2>
        Party
        <small ng-show="members.length == 0">Who was there?</small>
        <small ng-show="members.length == 1">One more...</small>
        <small ng-show="members.length >= 2">What everyone owes</small>
    </h2>

    <ul class="party">
        <li ng-repeat="member in members">
            <span class="name color-{{member.id}}">{{member.name}}</span>
            <span class="tally">
                <strong>Paid:</strong> <span class="paid">{{member.paid | currency}}</span>
                <strong>Balance:</strong> <span class="balance">{{avgExpense - member.paid | currency}}</span>
            </span>
        </li>

        <li class="control">
            <input type="text" ng-model="memberName" placeholder="Name" />
            <input type="submit" value="Add">
        </li>
    </ul>
</form>

<form ng-submit="addExpense()" ng-show="members.length >= 2">
    <h2>
        Ledger
        <small>Shared purchases</small>
    </h2>

    <div class="tally">
        <span class="total"><strong>Total:</strong> {{totalExpense | currency}}</span>
        <span class="average"><strong>Average:</strong> {{avgExpense | currency}}</span>
    </div>

    <ul class="expenses">
        <li class="control">
            <input type="text" class="amount" ng-model="amount" placeholder="$" />
            <input type="text" ng-model="description" placeholder="Description" />
            <div class="members">
                <label ng-repeat="member in members" class="name color-{{member.id}} {{!member._selected && 'unselected' || ''}}">{{member.name}}
                    <input type="checkbox" ng-model="member._selected" />
                </label>
            </div>
            <input type="submit" value="Add">
        </li>

        <li ng-repeat="expense in expenses" class="item">
            <span class="amount">{{expense.amount | currency}}</span>
            <span class="description">{{expense.description}}</span>
            <span class="names">({{getNames(expense.who).join(', ')}})</span>
        </li>
    </ul>
</form>


</div>


<footer>A <a href="http://shazow.net/">shazow</a> project.</footer>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>

<script src="static/js/core.js" type="text/javascript"></script>

</body>

</html>
