html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
  background-color: white;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 0 0 1.5em;
}
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

a {
  text-decoration: underline;
  color: #e1be26;
}
a:visited {
  color: #ba9c1a;
}
a:focus {
  color: #e7cb53;
}
a:hover {
  color: #e7cb53;
}
a:active {
  color: #53e75c;
}

blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

strong, dfn {
  font-weight: bold;
}

em, dfn {
  font-style: italic;
}

sup, sub {
  line-height: 0;
}

abbr, acronym {
  border-bottom: 1px dotted #666666;
}

address {
  margin: 0 0 1.5em;
  font-style: italic;
}

del {
  color: #666666;
}

pre {
  margin: 1.5em 0;
  white-space: pre;
}

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

li ul, li ol {
  margin: 0;
}

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5em;
}

table {
  margin-bottom: 1.4em;
  width: 100%;
}

th {
  font-weight: bold;
}

thead th {
  background: #c3d9ff;
}

th, td, caption {
  padding: 4px 10px 4px 5px;
}

table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

tfoot {
  font-style: italic;
}

caption {
  background: #eeeeee;
}

.quiet {
  color: #666666;
}

.loud {
  color: #111111;
}

footer {
  text-align: center;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: black;
}
h2 small {
  text-transform: uppercase;
  font-size: 0.5em;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1em;
  font-weight: bold;
  color: black;
}

em {
  color: #e1be26;
  font-style: normal;
}

strong {
  color: #b3b3b3;
}

ul, ol {
  margin: 0 0 1em 0.5em;
}

li {
  margin-bottom: 0.5em;
}

label {
  display: block;
}

small {
  color: black;
}

a.action, a.action:visited {
  color: white;
  cursor: pointer;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 0.5em;
  margin: 0 0.5em 0 0;
  font-size: 0.8em;
  line-height: 24px;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
input[type="submit"] {
  padding: 0 1em;
  background: #ddd;
  border-color: #ddd;
  color: #222;
  cursor: pointer;
}

.container {
  width: 630px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto 20px auto;
  padding: 20px;
}

.members {
  display: inline-block;
  margin: 0 1em;
}
.members input {
  display: none;
}
.members label.unselected {
  color: #999;
  background: #ddd;
  cursor: pointer;
  border: 1px solid #eee;
  text-shadow: none;
}

.party .name, .party input[type="text"] {
  width: 110px;
  text-align: center;
}

.name {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #666666;
  color: white;
  border: 1px solid #4d4d4d;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 1px 0.5em;
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.color-1 {
  background: #b05b00;
  color: #fff1e3;
  border: 1px solid #7d4100;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.color-2 {
  background: #142433;
  color: #9fbdda;
  border: 1px solid #060a0e;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.color-3 {
  background: #2e9742;
  color: #fafdfa;
  border: 1px solid #227031;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.color-4 {
  background: #93972e;
  color: #fdfdfa;
  border: 1px solid #6d7022;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.color-5 {
  background: #2f101a;
  color: #db96ac;
  border: 1px solid #090305;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
